// 定制 vant 组件主题颜色、UI样式
@import '@/styles/vant-reset/van-action-bar.less';
@import '@/styles/vant-reset/van-button.less';
@import '@/styles/vant-reset/van-calendar.less';
@import '@/styles/vant-reset/van-dialog.less';
@import '@/styles/vant-reset/van-dropdown-menu.less';
@import '@/styles/vant-reset/van-pull-refresh.less';
@import '@/styles/vant-reset/van-search.less';
@import '@/styles/vant-reset/van-step.less';
@import '@/styles/vant-reset/van-tabs.less';
@import '@/styles/vant-reset/van-tag.less';
@import '@/styles/vant-reset/van-watermark.less';
@import '@/styles/vant-reset/van-floating.less';
@import '@/styles/vant-reset/van-popup.less';

:root:root {
  // Color Palette
  --van-black: @black;
  --van-white: @white;
  --van-gray-1: @gray-1;
  --van-gray-2: @gray-2;
  --van-gray-3: @gray-3;
  --van-gray-4: @gray-4;
  --van-gray-5: @gray-5;
  --van-gray-6: @gray-6;
  --van-gray-7: @gray-7;
  --van-gray-8: @gray-8;
  --van-red: @red;
  --van-blue: @blue;
  --van-orange: @orange;
  --van-orange-dark: @orange-dark;
  --van-orange-light: @orange-light;
  --van-green: @green;

  // 切换主题色为 orange
  --van-primary-color: @primary-color;
}
