// 重定制van-calendar

:root:root {
  --van-calendar-confirm-button-height: 90px;
  --van-calendar-popup-height: 60%;
  --van-calendar-selected-day-background: linear-gradient(90deg, #fcc824 0%, #ff8812 100%);
}

.van-calendar__day {
  .van-calendar__selected-day {
    border-radius: 50%; // 选中日期改为圆形
  }
}
