// 重定制van-step

// 1.通过样式互换，实现流程倒序展示
:root:root {
  --van-step-circle-size: 20px;
  --van-step-circle-color: #e6e6e6;
  --van-step-line-color: var(--van-primary-color);
  --van-step-finish-line-color: var(--van-border-color);
}
