// 全局CSS变量集

// 基本颜色
@red: #ff0d12;
@red-light: #ffe3e3;
@blue: #1f98ff;
@blue-light: #e4f2ff;
@orange: #ff8812;
@orange-light: #ffe5cb;
@orange-dark: #ed6a0c;
@green: #43bb67;
@black: #000000;
@white: #ffffff;
@gray: #999999;
@gray-light: #efefef;

// 主题色
@primary-color: @orange;
@success-color: @green;
@danger-color: @red;
@warning-color: @orange-dark;
@primary-color-light: @orange-light;

// 背景
@background-color: #fafafa;
// 正文
@text: #222222;
// 次级正文
@sub-text: #555555;

// 字体
@font-size-20: 20px;
@font-size-22: 22px;
@font-size-24: 24px;
@font-size-26: 26px;
@font-size-28: 28px;
@font-size-30: 30px;
@font-size-32: 32px;
@font-size-34: 34px;
@font-size-36: 36px;
@font-size-38: 38px;
@font-size-40: 40px;
@font-size-44: 44px;
@font-size-46: 46px;
@font-size-52: 52px;

// vant使用 不建议修改
@gray-1: #F8F9FB;
@gray-2: #f2f3f5;
@gray-3: #E6E6E6;
@gray-4: #dcdee0;
@gray-5: #c8c9cc;
@gray-6: #969799;
@gray-7: #646566;
@gray-8: #323233;
